@font-face
  font-family 'Muller'
  src url("../fonts/Muller-Bold.eot"); /* IE9 */
  src url("../fonts/Muller-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/Muller-Bold.woff") format("woff"),
      url("../fonts/Muller-Bold.woff2") format("woff2"), /* chrome, firefox */
      url("../fonts/Muller-Bold.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
      url("../fonts/Muller-Bold.svg#Roboto") format("svg") /* iOS 4.1- */
  font-weight 700
  font-style normal

@font-face
  font-family 'Muller'
  src url("../fonts/Muller-Medium.eot"); /* IE9 */
  src url("../fonts/Muller-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/Muller-Medium.woff") format("woff"), /* chrome, firefox */
      url("../fonts/Muller-Medium.woff2") format("woff2"),
      url("../fonts/Muller-Medium.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
      url("../fonts/Muller-Medium.svg#Roboto") format("svg") /* iOS 4.1- */
  font-weight 500
  font-style normal

@font-face
  font-family 'Muller'
  src url("../fonts/Muller-Regular.eot"); /* IE9 */
  src url("../fonts/Muller-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/Muller-Regular.woff") format("woff"), /* chrome, firefox */
      url("../fonts/Muller-Regular.woff2") format("woff2"), /* chrome, firefox */
      url("../fonts/Muller-Regular.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
      url("../fonts/Muller-Regular.svg#Roboto") format("svg") /* iOS 4.1- */
  font-weight 500
  font-style normal


