@font-face
  font-family 'muller'
  src url('../fonts/mullerregular.woff') format('woff'),
      url('../fonts/mullerregular.woff2') format('woff2')
  font-weight 400
  font-style normal

@font-face
  font-family 'muller'
  src url('../fonts/mullermedium.woff') format('woff'),
      url('../fonts/mullermedium.woff2') format('woff2')
  font-weight 500
  font-style normal

@font-face
  font-family 'muller'
  src url('../fonts/mullerbold.woff') format('woff'),
      url('../fonts/mullerbold.woff2') format('woff2')
  font-weight 700
  font-style normal


