//COLOR

$white = #fff
$grey = #f4f4f4
$black = #000
$green = #5c9800
$orange = #ff733f
$blacker = #00050b

//MEDIA

media-desktop = '(min-width: 1000px)'
media-tablet = '(min-width: 768px)'
media-mobile = '(min-width: 600px)'

//FONTS

$MULLER = "Muller"
