extends include/template
include ../components/event-preview/event-preview.pug
include ../components/photo-preview/photo-preview.pug

block title
  title registry
block description
  +description('Event')
block keywords
  +keywords('Event, some, keywords')

block css
  +styles('css/main.css')

block content
  +b.HEADER.header
    +b.container
      +b.menu
        |
        +b.menu-header
          | Меню
          +b.A(href="#").hamburger &#9776
          +b.A(href="#").cross &#735
        +b.NAV.menu-collapse
          +e.A(href="#").link О клубе
          +e.A(href="#").link_active Мероприятия
          +e.A(href="#").link Возможности
          +e.A(href="#").link Привилегии
          +e.A(href="#").link Форум
          +e.A(href="#").link Контакты

      +b.title-block
        +e.H1.title Мероприятия
        +breadcrumbs('Главная', 'Мероприятия')

  +b.SECTION.events-comming
    +b.container
        +b.H2.title Ближайшие мероприятия
        +b.row
          +event-preview({
            title: "Мероприятие",
            text: "Бесплатный семинар «Готовим дома» для домохозяек и работающих мам.",
            date: "5 июня",
            time: "18:00",
            locate: "ЖК «Ожогино», д.12, 1й подъезд"
          })(style = "background-image: url(../img/general/cook.png)")
          +event-preview({
            title: "Мероприятие",
            text: "Массовый «Соседский забег» для тех, кто хочет начать новую жизнь. Мероприятие для желающих подтянуться к лету.",
            date: "5 июня",
            time: "18:00",
            locate: "ЖК «Ожогино», д.12, 1й подъезд"
          })(style = "background-image: url(../img/general/runner.png)")
          +event-preview({
            title: "Мероприятие",
            text: "Массовый «Соседский забег» для тех, кто хочет начать новую жизнь. Мероприятие для желающих подтянуться к лету.",
            date: "5 июня",
            time: "18:00",
            locate: "ЖК «Ожогино», д.12, 1й подъезд"
          })(style = "background-image: url(../img/general/girl.png)")
          +event-preview({
            title: "Мероприятие",
            text: "Бесплатный семинар «Готовим дома» для домохозяек и работающих мам.",
            date: "5 июня",
            time: "18:00",
            locate: "ЖК «Ожогино», д.12, 1й подъезд"
          })(style = "background-image: url(../img/general/family.png)")
          +event-preview({
            title: "Мероприятие",
            text: "Массовый «Соседский забег» для тех, кто хочет начать новую жизнь. Мероприятие для желающих подтянуться к лету.",
            date: "5 июня",
            time: "18:00",
            locate: "ЖК «Ожогино», д.12, 1й подъезд"
          })(style = "background-image: url(../img/general/runner.png)")

        +b.H2.title Прошедшие мероприятия
        +b.row
          +event-preview({
            title: "Мероприятие",
            text: "Бесплатный семинар «Готовим дома» для домохозяек и работающих мам.",
            date: "5 июня",
            time: "18:00",
            locate: "ЖК «Ожогино», д.12, 1й подъезд"
          })(style = "background-image: url(../img/general/cook.png)")
          +event-preview({
            title: "Мероприятие",
            text: "Массовый «Соседский забег» для тех, кто хочет начать новую жизнь. Мероприятие для желающих подтянуться к лету.",
            date: "5 июня",
            time: "18:00",
            locate: "ЖК «Ожогино», д.12, 1й подъезд"
          })(style = "background-image: url(../img/general/runner.png)")
          +event-preview({
            title: "Мероприятие",
            text: "Массовый «Соседский забег» для тех, кто хочет начать новую жизнь. Мероприятие для желающих подтянуться к лету.",
            date: "5 июня",
            time: "18:00",
            locate: "ЖК «Ожогино», д.12, 1й подъезд"
          })(style = "background-image: url(../img/general/girl.png)")
          +event-preview({
            title: "Мероприятие",
            text: "Бесплатный семинар «Готовим дома» для домохозяек и работающих мам.",
            date: "5 июня",
            time: "18:00",
            locate: "ЖК «Ожогино», д.12, 1й подъезд"
          })(style = "background-image: url(../img/general/family.png)")
          +event-preview({
            title: "Мероприятие",
            text: "Массовый «Соседский забег» для тех, кто хочет начать новую жизнь. Мероприятие для желающих подтянуться к лету.",
            date: "5 июня",
            time: "18:00",
            locate: "ЖК «Ожогино», д.12, 1й подъезд"
          })(style = "background-image: url(../img/general/runner.png)")

        +b.A(href="#").btn Архив мероприятий

  +b.SECTION.photoreports
    +b.container
      +b.H2.title Фотоотчёты
      +b.row
        +photo-preview({
          title: "Фотоотчёт",
          text: "Бесплатный семинар «Готовим дома» для домохозяек и работающих мам.",
          date: "5 июня",
          count: "25 фото"
        })(class = "photo-preview_main" style = "background-image: url(../img/general/eat.png)")
        .col
          +photo-preview({
            title: "Фотоотчёт",
            text: "Бесплатный семинар «Готовим дома» для домохозяек и работающих мам.",
            date: "5 июня",
            count: "25 фото"
          })(style = "background-image: url(../img/general/eat.png)")
          +photo-preview({
            title: "Фотоотчёт",
            text: "Бесплатный семинар «Готовим дома» для домохозяек и работающих мам.",
            date: "5 июня",
            count: "25 фото"
          })(style = "background-image: url(../img/general/power.png)")
          +photo-preview({
            title: "Фотоотчёт",
            text: "Бесплатный семинар «Готовим дома» для домохозяек и работающих мам.",
            date: "5 июня",
            count: "25 фото"
          })(style = "background-image: url(../img/general/student.png)")
          +photo-preview({
            title: "Фотоотчёт",
            text: "Бесплатный семинар «Готовим дома» для домохозяек и работающих мам.",
            date: "5 июня",
            count: "25 фото"
          })(style = "background-image: url(../img/general/kitchen.png)")

  +b.FOOTER.footer
    +b.container
      +b.row
        +b.partner 2015 © Партнер строй
        +b.social
          +e.A(href="#").link
            +b.I.fa.fa-facebook
          +e.A(href="#").link
            i.fa.fa-vk
          +e.A(href="#").link
            i.fa.fa-youtube-play
        +b.author
          |
          +e.A.link(href="#") Разработка сайта
          |  - Агенство Creative






block scripts
  +scripts('js/libs.min.js')
  +scripts('js/scripts.js')