mixin photo-preview(data)
  a.photo-preview&attributes(attributes)(href="#")
    .photo-preview__info
      header.photo-preview__header
        .photo-preview__title= data.title
        .photo-preview__text= data.text
      footer.photo-preview__footer
        .photo-preview__data
          i.fa.fa-calendar-o
          = data.date
        .photo-preview__data
          i.fa.fa-picture-o
          = data.count