mixin photo-preview(data)
  +b.A(href="#").photo-preview&attributes(attributes)
    +e.DIV.info
      +e.HEADER.header
        +e.title= data.title
        +e.text= data.text
      +e.FOOTER.footer
        +e.data
          +b.I.fa.fa-calendar-o
          = data.date
        +e.data
          +b.I.fa.fa-picture-o
          = data.count