mixin event-preview(data)
  +b.events-preview-wrap
    +b.A(href="#").events-preview&attributes(attributes)
      +e.HEADER.header
        +e.title= data.title
        +e.text= data.text
      +e.FOOTER.footer
        +e.data
          +b.I.fa.fa-calendar-o
          = data.date
        +e.data
          +b.I.fa.fa-clock-o
          = data.time
        +e.data
          +b.I.fa.fa-map-marker
          = data.locate